{
    "rules": {
        "quotes": [2, "single"],
        "linebreak-style": [2, "windows"],
        "semi": [2, "always"],
        "strict": 2
    },
    "env": {
        "browser": true
    },
    "globals": {
        "angular": true,
         // Angular Mocks
         "inject": false,
         // JASMINE
         "describe": false,
         "it": false,
         "before": false,
         "beforeEach": false,
         "after": false,
         "afterEach": false,
         "expect": false,
         "jasmine": false,
         "spyOn": false
      },
    "extends": "eslint:recommended"
}